<div class="columns is-mobile">
  <div class="column is-4 is-offset-4">
    <h4 class="title is-3 has-text-left">Edit Account</h4>

    <% resource.errors.full_messages.each do |message| %>
    <%= content_tag(:div, message, :class => "flash error hidden", data: {type: :error}) %>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.label :username, nil, class: 'label' %>
    <p class="control has-icon has-icon-right">
      <%= f.text_field :username, autofocus: true, class: 'input' %>
    </p>

    <%= f.label :password, nil, class: 'label' %>
    <p class="control has-icon has-icon-right">
      <%= f.password_field :password, autocomplete: "off", class: 'input' %>
      <span class="help is-success has-text-right">(leave blank if you don't want to change it)</span>
    </p>

    <%= f.label :password_confirmation, nil, class: 'label' %>
    <p class="control has-icon has-icon-right">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input' %>
    </p>

    <%= f.label :avatar, nil, class: 'label' %>
    <p class="control has-icon has-icon-right">
      <%= f.file_field :avatar %>
      <% unless resource.avatar.blank? %>
      <figure class="image">
        <%= image_tag resource.avatar.url %>
      </figure>
      <% end %>
    </p>
    
    <hr />
    <%= f.label :current_password, nil, class: 'label' do %>
    <i>(we need your current password to confirm your changes)</i>
    <% end %>
    <p class="control has-icon has-icon-right">
      <%= f.password_field :current_password, autocomplete: "off", class: 'input is-danger' %>
    </p>

    <p class="has-text-right">
      <%= f.submit "Update", class: "button is-primary" %>
      <%= link_to "Cancel", root_path, class: "button is-warning" %>
    </p>
    <% end %>
    
    <hr />
    <h5 class="title is-3 has-text-left">
      <span>Unhappy?</span>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger', form_class: 'is-pulled-right' %>
    </h5>
  </div>
</div>