<div class="tabs message-tabs">
  <ul class="is-left">
    <li class="is-active"><a>Mails</a></li>
  </ul>
  <ul class="is-right">
    <span><%= @token.email || '--empty--'%> &nbsp;</span>
  </ul>
</div>
<div class="divided">
  <div class="messages-box">
    <% @result.messages.each do |message| %>
    <% if @items[message.id].present? %>
    <%= link_to url_for(thread_id: message.id, search: params[:search]), class: "media" do %>
    <div class="media-content">
      <div class="content">
        <p>
          <% email = (@items[message.id][:sender][/<(.*?)>/m] || "" rescue "") %>
          <strong>
            <%= sanitize @items[message.id][:sender].tr("\"", '').gsub(email, "<small>#{email.tr('<', '').tr('>', '')}</small>"), tags: %w(small) rescue "" %>
          </strong>
          <br>
          <%= @items[message.id][:snippet] rescue "" %>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <div class="message-content">
    <% if @selected_thread[:headers].nil? %>
    <section class="section is-medium">
      <div class="container">
        <h3 class="title is-2">
          <span class="icon is-large"><i class="fa fa-hand-o-left" aria-hidden="true"></i></span> No Message Selected
        </h3>
        <h4 class="subtitle is-4">Select a message from the left pane to read it.</h4>
      </div>
    </section>
    <% else %>
    <h1 class="title">
      <span><%= @selected_thread[:headers]["Subject"] %></span>
      <small>(<%= @selected_thread[:headers]["Date"] %>)</small>
    </h1>
    <div class="columns is-gapless is-multiline message-content-detail">
      <div class="column">
        <p class="heading">participants: <%= @selected_thread[:headers]["From"] %> | <%= @selected_thread[:headers]["To"] %></p>
      </div>
      <div class="column is-12">
        <p class="heading">cc: <%= @selected_thread[:headers]["Cc"] %></p>
      </div>
    </div>
    <div class="messages">
      <% @selected_thread[:messages].each do |message| %>
      <% headers  = headers_to_hash(message.payload.headers) %>
      <% email    = (headers["From"][/<(.*?)>/m] || "" rescue "") %>

      <div class="card is-fullwidth" id="message-<%= message.id %>">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-5">
                <%= sanitize headers["From"].tr("\"", '').gsub(email, "<small>#{email.tr('<', '').tr('>', '')}</small>"), tags: %w(small) rescue "" %>
              </p>
            </div>
          </div>

          <div class="content">
            <div>
              <% if message.payload.parts.blank? %>
              <%= raw message.payload.body.data.force_encoding("utf-8").gsub(/\n/, '<br/>') rescue "" %>
              <% else %>
              <% message.payload.parts.each do |part| %>
              <% part_headers = headers_to_hash(part.headers) %>
              <% if part_headers["Content-Type"].starts_with?("text/html") %>
              <%= raw part.body.data.force_encoding("utf-8").gsub(/\n/, '<br/>') %>
              <% elsif part_headers["Content-Disposition"] && part_headers["Content-Disposition"].starts_with?("attachment") %>
              <%= link_to download_mailbox_mail_path(id: @token.id, thread_id: params[:thread_id], m_id: message.id, f_id: part.body.attachment_id, filename: part.filename), class: "tag is-primary is-medium" do %>
              <i class="fa fa-download" aria-hidden="true"></i>&nbsp;<%= part.filename %>
              <% end %>
              <% end %>
              <% end %>
              <% end %>
            </div>
            <br>
            <small><%= headers["Date"] %></small>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="reply-pane">
        <h1 class="title">Write a Reply</h1>
        <% if target_message = @selected_thread[:messages].last %>
        <% target_headers = target_message.payload.headers.inject({}){|r, h| r.merge(h.name => h.value)} %>

        <%= form_for :message, url: mailbox_mail_path(mailbox_id: params[:mailbox_id], id: params[:id]), method: :put, :html => { multipart: true } do |f| %>
        <%= f.hidden_field :thread_id, value: params[:thread_id] %>
        <%= f.hidden_field :message_id, value: target_headers["Message-ID"] %>
        <%= f.hidden_field :references, value: target_headers["References"] %>
        <%= f.hidden_field :subject, value: target_headers["Subject"] %>
        <%= f.hidden_field :to, value: select_emails(@selected_thread[:messages], @token.email) %>
        <p class="control">
          <%= f.text_area :message, :class => "textarea tinymce" %>
          <%= tinymce :alternate %>
        </p>
        <%= f.label :files, class: "label" do %>
        <i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;Attach Files
        <% end %>
        <p class="control">
          <%= f.file_field :files, multiple: true %>
        </p>
        <p class="control">
          <%= f.submit "Send", class: "button is-primary" %>
        </p>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $(".messages").animate({ scrollTop: $('.messages').prop("scrollHeight")}, 1000);
  });
</script>