<br />
<div class="container">
  <h1 class="title">Geting started</h1>
  <h2 class="subtitle">Quick Introduction</h2>
  <hr />
  <div class="hero-buttons">
    <%= link_to new_mailbox_path, class: "button is-info is-large" do %>
    <span class="icon is-medium"><i class="fa fa-laptop"></i></span> <span>Add <strong>Mailbox</strong></span>
    <% end %>

    <%= link_to mailboxes_path, class: "button is-dark is-large" do %>
    <span class="icon is-medium"><i class="fa fa-laptop"></i></span> <span>View <strong>Mailboxes</strong></span>
    <% end %>

    <p><strong>What are mailboxes?</strong> Mailboxes are simply categories. <strong>What can you do with a mailbox?</strong> Each mailbox can connect to multiple gmail accounts. In each account, all users can view emails.</p>
  </div>
  <br>
  <div>
    <h3 class="title is-4">This is how it looks like</h3>
    <div>
      <p>PolyMail</p>
      <ul class="tree">
        <li>Mailbox
          <ul>
            <li>GMail Account
              <ul>
                <li>Emails</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Another Mailbox
          <ul>
            <li>Another GMail Account
              <ul>
                <li>Emails</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <hr />
  <% unless @mailboxes.length.zero? %>
  <div>
    <h3 class="title is-4">This is all available records</h3>
    <p>PolyMail</p>
    <ul class="tree">
    <% @mailboxes.each do |mailbox| %>
    <li><%= mailbox.name %>
      <% unless mailbox.tokens.length.zero? %>
      <ul>
        <% mailbox.tokens.each do |token| %>
        <li>
          <%= token.email %>
          <ul>
            <li><%= link_to "view emails", mailbox_mail_path(mailbox_id: mailbox.id, id: token.id) %></li>
            <li><%= link_to "create new email", compose_mailbox_mail_path(mailbox_id: mailbox.id, id: token.id) %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <% end %>
    </li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <br />
</div>
