<%= form_for(@mailbox) do |f| %>
<div class="control is-horizontal">
  <div class="control-label">
    <%= f.label :name, nil, class: 'label' %>
  </div>
  <div class="control is-grouped">
    <div class="control is-expanded">
      <%= f.text_field :name, class: 'input', placeholder: 'Name' %>
    </div>
  </div>
</div>

<div class="control is-horizontal">
  <div class="control-label">
    <%= f.label :cover_photo, nil, class: 'label' %>
  </div>
  <div class="control">
    <div class="control is-fullwidth">
      <%= f.file_field :cover_photo %>
      
      <% unless @mailbox.cover_photo.nil? %>
      <div class="control is-fullwidth is-text-right">
        <%= link_to "Uploaded Photo", @mailbox.cover_photo.url, target: '_blank' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="control is-horizontal">
  <div class="control-label">
    <%= f.label :description, nil, class: 'label' %>
  </div>
  <div class="control">
    <%= f.text_area :description, class: 'textarea', placeholder: 'Description of the mailbox' %>
  </div>
</div>

<div class="has-text-centered">
  <%= f.submit "Save", class: 'button is-primary' %>
  <%= f.submit "Reset", type: "reset", class: 'button is-danger' %>
  <%= link_to "Cancel", mailboxes_path, class: "button" %>
</div>

<% end %>