<!DOCTYPE html>
<html>
  <head>
    <title>Polyboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <%= render partial: 'layouts/header' %>
    <% unless notice.blank? %>
    <div class="notification is-info">
      <button class="delete"></button>
      <%= notice %>
    </div>
    <% end %>
    <% unless alert.blank? %>
    <div class="notification is-warning">
      <button class="delete"></button>
      <%= alert %>
    </div>
    <% end %>
    <div class="pure-content">
      <% if lookup_context.exists?("#{controller_name}/_layout") %>
      <%= render partial: "#{controller_name}/layout" %>
      <% else %>
      <%= yield %>
      <% end %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
