<!DOCTYPE html>
<html>
  <head>
    <title>Polyboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <div class="pure-content">
      <%= render partial: 'layouts/navigation' %>

      <div class="pure-content-body columns">
        <div class="pure-content-sidebar column is-2">
          <%= render partial: 'layouts/sidebar' %>
        </div>
        <div class="pure-content-main column is-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
